* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    padding: 1rem;
}

/* Header */
h1 {
    text-align: center;
    padding: 1rem;
}

/* Pill Nav */
.pill-nav {
    display: flex;
    gap: 0.5rem;
    overflow: auto;
    padding: 0.5rem 0rem;
    scrollbar-width: none;
}

/* Pill Items */
.pill-item {
    border-radius: 999px;
    padding: 8px;
    border: 2px solid black;
    background: none;
    text-wrap: nowrap;
    font-size: 1.1rem;
}

.pill-item.active {
    border: 2px solid red
}

/* Tasks Section */
.tasks-section {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

/* New Task Modal */
.new-task-modal {
    border: 2px solid black;
    padding: 1rem;
}

.form-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-item {
    display: flex;
    gap: 0.5rem;
}

#notes textarea {
    height: 100px;
    width: 100%;
    padding: 0.1rem;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.form-buttons button {
    background: none;
    border: 1px solid black;
    padding: 0.5rem 1rem;
}


/* Media Queries */
@media screen and (min-width: 544px) {
    /* Pill Nav */
    .pill-nav {
        justify-content: center;
    }
}