* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    padding: 1rem;
}

/* Header */
h1 {
    text-align: center;
    padding: 1rem;
}

/* Pill Nav */
.pill-nav {
    display: flex;
    gap: 0.5rem;
    overflow: auto;
    padding: 0.5rem 0rem;
    scrollbar-width: none;
}

/* Pill Items */
.pill-item {
    border-radius: 999px;
    padding: 8px;
    border: 2px solid black;
    background: none;
    text-wrap: nowrap;
    font-size: 1.1rem;
    cursor: pointer;
}

.pill-item.active {
    border: 2px solid red
}

/* Tasks Section */
.tasks-section {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

/* New Task Modal */
#addNewTaskModal {
    max-width: 600px;
    margin: 0 auto;
    /* display: none; */
}

#addNewTaskModal {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    z-index: 999;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.75rem 2rem rgba(0,0,0,.25);
    border-radius: 0.5rem;
    background: white;
}

.new-task-modal {
    border: 2px solid black;
    padding: 1rem;
}

.form-title {
    text-align: center;
    padding: 0.3rem;
}

.form-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-item {
    display: flex;
    gap: 0.5rem;
}

.project-error-text {
    display: none;
    color: red;
}

.project-error-text.active {
    display: block;
}

#notes textarea {
    height: 100px;
    width: 100%;
    padding: 0.1rem;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.form-buttons button {
    background: none;
    border: 1px solid black;
    padding: 0.5rem 1rem;
}

/* Task Section */
.tasks-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.task {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 0.3rem;
    padding: 0.5rem;
}

.task.checked {
    border: 2px solid green !important;
    background: lightgrey;
}

.task-right {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.task-right #checkbox,
.task-right #edit-icon,
.task-right #trash-icon {
    cursor: pointer;
}

/* Media Queries */
@media screen and (min-width: 544px) {
    /* Pill Nav */
    .pill-nav {
        justify-content: center;
    }
}